/*home.html*/
.logo
{
	background-color: #00aeef;
	height:150px;
}

/*.un
{
	margin-left: 10px;
	
	max-height: 90%;
}*/

.for
{
	margin-top: 20px;
	padding-right: 20px;
}

.child{
	max-height: 150px;
	width: 100%;
	margin-left: 10%;
}


@media screen and (max-width: 768px) {
	.un {
		margin-left: 25%;
	}
	.for {
		margin: 0 auto;
		margin-left: 10%;
	}
	/*.child{
		margin: 0 auto;

	}*/
}

/*education.html*/
.education-color
{
	background-color: #d14e4f;
}
.agencies-color{
	margin-top: 2%;
	color: white;
}